<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @mini%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @maxi%>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @randi%>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
